/* 
/////////////////////////
FONT SIZE
medium font size | font-size:2rem or 2.5;
////////////////////////

/////////////////////////
PADDING
medium Padding size | padding: 1.1rem 1.5rem;
////////////////////////

/////////////////////////
COLORS
Default Color |  #0e0a02 | LINKS :#080e02c0;
////////////////////////

/////////////////////////////////
MEDIUM |  letter-spacing: 1.1px;
//////////////////////////////

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #080e02;
  color: #fff;
}
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(to left, #345a243f, #475c3f41);
  /* font-family: "Montserrat", sans-serif; */
}
.section {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.logo {
  color: #000;
  font-size: 5rem;
}
.social-acount {
  display: flex;
  gap: 2.5rem;
  font-size: 2rem;
}

.acount {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 2.1px;
  text-decoration: none;
  padding: 1.1rem 1.5rem;
  background-color: #080e02c0;
}
.acount:hover {
  outline: 1px solid #000;
  outline-offset: 0.2rem;
  font-weight: 200;
}
/* //////////////////////////////////////////////////////////////// */

.about-me-div {
  position: relative;
  margin-top: 10rem;
  display: flex;
  gap: 5rem;
  margin: 0 auto;
  transition: all 0.4s;
}

.about-me_photo {
  width: 25rem;
  transition: all 0.5s;
  transform: scale(1.1);
}
.about-me_photo:hover {
  border-left: 1px solid #0e0a02;
  padding-left: 1rem;
  border-right: 1px solid #0e0a02;
  padding-right: 1rem;
  border-top: 1px solid #0e0a02;
  padding-top: 1rem;
  border-bottom: 1px solid #0e0a02;
  padding-bottom: 10rem;
}
/* ///__PHOTO SMAL UNDERTEXT__////// */
.about-me_photo-span {
  position: absolute;
  font-size: 1.5rem;
  top: 38rem;
  bottom: 0;
  left: 0.5rem;
}
.about-me_photo-span-born {
  position: absolute;
  font-size: 1.5rem;
  top: 41rem;
  bottom: 0;
  left: 1rem;
}
.about-me_photo-undertext-div {
  opacity: 0;
  width: 0;
  transition: all 0.3s ease-in;
}
.about-me-photo-div:hover .about-me_photo-undertext-div {
  opacity: 1;
  width: 100px;
}
.about-me_photo-span-born-dreams {
  position: absolute;
  font-size: 1.5rem;
  top: 44rem;
  bottom: 0;
  left: 1rem;
}
/* //////////__ფოტოს გვერდით ტექსტი__//////////// */
.about-me-box {
  max-width: 80rem;
}
.about-me-title-text {
  font-size: 2rem;
  padding-left: 1rem;
  letter-spacing: 1.1px;
  line-height: 31.1px;
}

.about-me-title {
  font-size: 2.5rem;
  padding-bottom: 5rem;
  letter-spacing: 1.1px;
}
.about-me_links {
  display: inline-block;
  margin-top: 10rem;
  margin-left: 2rem;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-decoration: none;
  padding: 1.1rem 1.5rem;
  background-color: #080e02d8;
  outline: 2px solid #000000;
  outline-offset: 0.1rem;
}
.about-me_links:hover {
  outline-offset: 0;
}
/* ////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////// */
